.light {
    --body-bg-color: #fff;
    --text-color: #000;

    --sw-bg-color: blue;
    --sw-btn-color: green;
}

.dark {
    --body-bg-color: #000;
    --text-color: #fff;

    --sw-bg-color: rgb(58, 58, 250);
    --sw-btn-color: yellow;
}