.title-2::after {
    display: block;
    content: '';
    width: 0;
    height: 3px;
    background-color: brown;
    transition: width 0.5s;
}

.title-2:hover::after {
    width: 100px;
}

.box__btn::after {
    content: "▼ ";
    font-size: 12px;
    padding-left: 5px;
}

.box__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

.box:hover .box__btn::after {
    content: "⇪";
}

.box:hover .box__content {
    max-height: 2000px;
}