/* Звернення до всіх Єлементів */

:root {
    --color-grey: #F6F6F6;
    --color-black: #070707;

    --header-line-color: #828282;
}

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* Reset CSS End */

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 970px;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    margin: 0 auto;
}

.title {
    font-size: 48px;
    font-weight: 700;
    line-height: 65.37px;
    text-align: left;
    color: var(--color-black)
}

.sub-title {
    font-size: 34px;
    font-weight: 700;
    line-height: 46.3px;
    text-align: center;
    color: var(--color-black);
}

.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    text-align: center;
    color: var(--color-black);
}

/* Button style here */
.button {}

/* Header Start */
.header__nav {
    border-bottom: 1px solid var(--header-line-color);
}

.header__list {
    display: none;
    justify-content: center;
    gap: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    list-style: none;

}

.header__burger {
    display: none;
}

.header__burger:checked+.header__row .header__list {
    display: flex;
}

.header__button:before {
    content: "=";
}

.header__burger:checked+.header__row .header__button:before {
    content: "x";
}

.header__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;

    text-decoration: none;
    color: var(--header-line-color);
}

/* Header End */
.hero {
    padding-top: 12px;
}

.hero__title {
    margin-bottom: 50px;
}

/* Hero Start */

/* Hero End */

/* About Start */
.about {
    background-color: var(--color-grey);
}

.about__container {
    max-width: 480px;
    text-align: center;
    padding: 100px 0;
}

.about__title {
    margin-bottom: 50px;
}

.about__text {
    margin-bottom: 30px;
}

/* About End */

/* Skills */
.skills {
    /* padding-top: 160px;
    padding-bottom: 100px; */

    padding: 160px 0 100px;
}

.skills__title {
    margin-bottom: 20px;
}

/* Skills End */

.portfolio {
    background-color: var(--color-grey);
    padding: 100px 0;
}